# The thermal response test


When installing a shallow geothermal system, typically borehole heat exchangers (BHE), it is important to determine *thermal conductivity* as well as possible. A precise characterization of this property allows a correct design of the system, avoiding oversozing or undersizing, respectively, of the system. As we have discussed in the lecture a **Thermal Response Test (TRT)** allows determining the *in-situ* thermal conductivity. In a normal TRT, the measured value represents a mean value in the area of the borehole.


<img src='imgs/sketch_trt_add.jpg' style="float: right; width: 25%; margin-right: 3%; margin-bottom: 0.5em;">


In this notebook, data from a (real) thermal response test is evaluated. The aim is to determine a mean thermal conductivity along the 100 m deep borehole (radius 7.5 cm).  
The data comprises 


$$ T = T_\infty + \frac{Q}{4\pi\lambda} \times ln(1 + \frac{t_c}{\Delta t}) $$

First we need to import the libraries and take a look at the data, importing the cvs file:

In [8]:
# import libraries
import matplotlib.pyplot as plt
import numpy as np
import pandas as p
from scipy import optimize
%matplotlib inline

data = p.read_csv('data/TRT_data.csv')
data.head(10)

   T1 (C)  T2 (C)  Power (W)  Time (min)
0   13.47   13.50          0           0
1   13.48   13.50          0          10
2   13.51   13.50          0          20
3   13.54   13.54          0          30
4   13.56   13.56          0          40
5   15.13   13.61       3400          50
6   16.09   14.57       3400          60
7   16.62   15.09       3400          70
8   17.04   15.53       3400          80
9   17.38   15.87       3400          90

In [ ]:
Plot the inlet and outlet temperature (down and up), as well as the mean temperature $T_{mean}=\frac{T_{down}+T_{up}}{2}$, respectively, in the same figure